# Question-1

In [2]:
 from urllib.request import urlopen

In [3]:
 from bs4 import BeautifulSoup

In [4]:
 import requests

In [5]:
 html = urlopen ("https://en.wikipedia.org/wiki/Main_Page")

In [6]:
 bs = BeautifulSoup(html, "html.parser")

In [7]:
 titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])

In [8]:
 print ('List all the header tags :', *titles, sep ='/n/n')

List all the header tags :/n/n<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">Main Page</h1>/n/n<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>/n/n<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>/n/n<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you knowÂ ...</span></h2>/n/n<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>/n/n<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>/n/n<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>/n/n<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>/n/n<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>/n/n<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>/n/n<h2>Navigation menu</h2>/n/n<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>/n/n<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>/n/n<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>/n/n<h3>
<label for="searchInput">Search</label>
</h3>/n/n<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>/n/n<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>/n/n<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>/n/n<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>/n/n<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>/n/n<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

# Question-2

In [35]:
from requests import get

In [36]:
urll = get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')

In [37]:
request  = urll.text

In [38]:
from bs4 import BeautifulSoup as Soup

In [39]:
soup_data = Soup( request, 'html.parser' )

In [40]:
soup_data.title.text

'IMDb "Top 100"\n(Sorted by IMDb Rating Descending) - IMDb'

In [41]:
movies = soup_data.findAll ('div',{'class':"lister-item mode-advanced"})

In [42]:
first_movie = movies[0]

In [43]:
first_movie.h3.a.text

'The Shawshank Redemption'

In [44]:
first_movie.find('span',{'class':"lister-item-year text-muted unbold"}).text[1:5]

'1994'

In [45]:
first_movie.find('div',{'class':"inline-block ratings-imdb-rating"})['data-value']

'9.3'

In [46]:
first_movie.find('div',{'class':"inline-block ratings-metascore"}).span.text.strip()

'81'

In [47]:
first_movie.find('span',{'name':'nv'})['data-value']

'2602951'

In [48]:
Name = []
Year = []
Rating = []
Meta_score = []
Votes = []
for i in movies:
    Name.append(i.h3.a.text)
    Year.append(i.find('span',{'class':"lister-item-year text-muted unbold"}).text[1:5])
    Rating.append(i.find('div',{'class':"inline-block ratings-imdb-rating"})['data-value'])
    try:
        Meta_score.append(i.find('div',{'class':"inline-block ratings-metascore"}).span.text.strip())
    except:
        Meta_score.append(0)
    Votes.append(i.find('span',{'name':'nv'})['data-value'])

In [49]:
data = list(zip(Name,Year,Rating,Meta_score,Votes))

In [50]:
import pandas as pd
df = pd.DataFrame(data,columns=["Name","Year","Rating","Meta_score","Votes"])

In [51]:
df.head()

,Name,Year,Rating,Meta_score,Votes
0,The Shawshank Redemption,1994,9.3,81,2602951
1,The Godfather,1972,9.2,100,1798381
2,The Dark Knight,2008,9,84,2574403
3,The Lord of the Rings: The Return of the King,2003,9,94,1787496
4,Schindler's List,1993,9,94,1323619

# Question-3

In [60]:
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')

In [61]:
ind_soup = BeautifulSoup(page.content)
ind_movietitle = ind_soup.find_all('td', class_="titleColumn")
ind_movietitle

ind_movies = []

for ind_movie in ind_movietitle:
    ind_movie = ind_movie.get_text().replace('\n', "")
    ind_movie = ind_movie.strip(" ")
    ind_movies.append(ind_movie)
ind_movies[:100]
    
ind_scraped_ratings = ind_soup.find_all('td', class_='ratingColumn imdbRating')
ind_ratings = []
for ind_rating in ind_scraped_ratings:
    ind_rating = ind_rating.get_text().replace('\n', '')
    ind_ratings.append(ind_rating)
ind_ratings

import pandas as pd
ind_data = pd.DataFrame()
ind_data['Movie Names'] = ind_movies[:100]
ind_data['Ratings'] = ind_ratings[:100]
ind_data

                                   Movie Names Ratings
0                       1.      Jai Bhim(2021)     8.4
1                     2.      Anbe Sivam(2003)     8.4
2                        3.      Golmaal(1979)     8.4
3                        4.      Nayakan(1987)     8.4
4              5.      Pariyerum Perumal(2018)     8.4
..                                         ...     ...
95                       96.      Masaan(2015)     8.0
96                      97.      Kahaani(2012)     8.0
97  98.      Baahubali 2: The Conclusion(2017)     8.0
98               99.      Dil Chahta Hai(2001)     8.0
99     100.      Maheshinte Prathikaaram(2016)     8.0

[100 rows x 2 columns]

# Question-4

In [62]:
page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')

In [63]:
president_soup = BeautifulSoup(page.content) 
tag = ["h3"]
presidentname = []
for tags in president_soup.find_all(tag):
    tags = tags.get_text().strip()
    presidentname.append(tags)
presidentname

['Shri Pranab Mukherjee (1935-2020)',
 'Smt Pratibha Devisingh Patil (birth - 1934)',
 'DR. A.P.J. Abdul Kalam (1931-2015)',
 'Shri K. R. Narayanan (1920 - 2005)',
 'Dr Shankar Dayal Sharma (1918-1999)',
 'Shri R Venkataraman (1910-2009)',
 'Giani Zail Singh (1916-1994)',
 'Shri Neelam Sanjiva Reddy (1913-1996)',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)',
 'Shri Varahagiri Venkata Giri (1894-1980)',
 'Dr. Zakir Husain (1897-1969)',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)',
 'Dr. Rajendra Prasad (1884-1963)']

In [64]:
tag2 = ["p"]
term = []
for tag1 in president_soup.find_all(tag2):
    tag1 = tag1.get_text().strip()
    tag1 = tag1.replace('Term of Office: ', "")
    term.append(tag1)
term.remove("http://pranabmukherjee.nic.in")
term.remove("http://pratibhapatil.nic.in")
term.remove("http://abdulkalam.nic.in")
term[:13]

['25 July, 2012 to 25 July, 2017',
 '25 July, 2007 to 25 July, 2012',
 '25 July, 2002 to 25 July, 2007',
 '25 July, 1997 to 25 July, 2002',
 '25 July, 1992 to 25 July, 1997',
 '25 July, 1987 to 25 July, 1992',
 '25 July, 1982 to 25 July, 1987',
 '25 July, 1977 to 25 July, 1982',
 '24 August, 1974 to 11 February, 1977',
 '3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 '13 May, 1967 to 3 May, 1969',
 '13 May, 1962 to 13 May, 1967',
 '26 January, 1950 to 13 May, 1962']

In [66]:
import pandas as pd
presidentlist = pd.DataFrame()
presidentlist['President Name'] = presidentname
presidentlist['Term of Office'] = term[:13]
presidentlist

,President Name,Term of Office
0,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
1,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
2,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
3,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
4,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
5,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
6,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
7,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
8,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
9,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
10,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
11,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
12,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

# Question-5 (a)

In [166]:
import  requests
from  bs4 import BeautifulSoup

In [167]:
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [168]:
def Top_Mens_Teams(url):
    page = requests.get(url)

In [169]:
page = requests.get(url)

In [170]:
soup = BeautifulSoup(page.text,"html.parser")

In [171]:
table = soup.find("tbody")

In [172]:
team_name = table.find_all("span",class_="u-hide-phablet")[0:10]

In [173]:
teams = []
for i in team_name:
    teams.append(i.text)

In [174]:
match =  table.find_all("td",class_="table-body__cell u-center-text")

In [175]:
f_match = table.find("td",class_="rankings-block__banner--matches").text

In [176]:
f_match = table.find("td",class_="rankings-block__banner--matches").text

In [177]:
matches = ['f_match','f_points']
for i in match:
    matches.append(i.text)

In [178]:
m_records = matches[0:20:2]

In [179]:
m_points = matches[1:20:2]

In [180]:
f_rating = table.find("td",class_="rankings-block__banner--rating u-text-right").text.replace('\n','').strip()

In [181]:
ratings = table.find_all("td",class_="table-body__cell u-text-right rating")[0:9]

In [182]:
team_rating = [f_rating]
for i in ratings:
    team_rating.append(i.text)

In [183]:
data = list(zip(teams,m_records,m_points,team_rating))
import pandas as pd
df = pd.DataFrame(data, columns = ["Team Name","Matches","Points","Ratings"])
df

      Team Name  Matches    Points Ratings
0   New Zealand  f_match  f_points     125
1       England       22     2,756     125
2      Pakistan       19     2,005     106
3         India       22     2,304     105
4     Australia       23     2,325     101
5  South Africa       19     1,872      99
6    Bangladesh       24     2,275      95
7     Sri Lanka       29     2,658      92
8   West Indies       32     2,306      72
9   Afghanistan       18     1,238      69

# Question-5(b)

In [105]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"

In [106]:
page = requests.get(url)

In [109]:
soup = BeautifulSoup(page.text,"html.parser")

In [110]:
table = soup.find("table",class_="table rankings-table")

In [147]:
first_player = table.find("div",class_="rankings-block__banner--name-large").text
first_team = table.find("div",class_="rankings-block__banner--nationality").text.replace('\n','')
first_rating = table.find("div",class_="rankings-block__banner--rating").text

In [148]:
players = table.find_all("td",class_="table-body__cell rankings-table__name name")[0:9]

In [149]:
player = [first_player]
for i in players:
    player.append(i.text.replace('\n',''))

In [150]:
teams= table.find_all("span",class_="table-body__logo-text")[0:9]

In [151]:
team = [first_team]
for i in teams:
    team.append(i.text)

In [152]:
ratings = table.find_all("td",class_="table-body__cell rating")[0:9]

In [153]:
rating = [first_rating]
for i in ratings:
    rating.append(i.text)

In [154]:
data = list(zip(player,team,rating))
import pandas as pd
df = pd.DataFrame(data, columns = ["Player Name","Team","Rating"])
df

             Player Name Team Rating
0             Babar Azam  PAK    892
1            Imam-ul-Haq  PAK    815
2            Virat Kohli  IND    811
3           Rohit Sharma  IND    791
4        Quinton de Kock   SA    789
5            Ross Taylor   NZ    775
6  Rassie van der Dussen   SA    769
7         Jonny Bairstow  ENG    760
8           David Warner  AUS    745
9            Aaron Finch  AUS    727

# Question-5(c)

In [125]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

In [126]:
table = soup.find("table",class_="table rankings-table")

In [127]:
f_bowler = table.find("div",class_="rankings-block__banner--name-large").text

In [140]:
b_team= table.find("div",class_="rankings-block__banner--nationality").text.replace('\n','')
b_rating = table.find("div",class_="rankings-block__banner--rating").text
bowlers = table.find_all("td",class_="table-body__cell rankings-table__name name")[0:9]

In [141]:
bowler = [f_bowler]
for i in bowlers:
    bowler.append(i.text.replace('\n',''))

In [142]:
teams = table.find_all("span",class_="table-body__logo-text")[0:9]

In [143]:
ratings = table.find_all("td",class_="table-body__cell rating")[0:9]

In [144]:
rating = [b_rating]
for i in ratings:
    rating.append(i.text)

In [145]:
data = list(zip(bowler,rating))
import pandas as pd
df = pd.DataFrame(data, columns = ["Bowler Name","Ratings"])
df

             Bowler Name Ratings
0             Babar Azam     892
1            Imam-ul-Haq     815
2            Virat Kohli     811
3           Rohit Sharma     791
4        Quinton de Kock     789
5            Ross Taylor     775
6  Rassie van der Dussen     769
7         Jonny Bairstow     760
8           David Warner     745
9            Aaron Finch     727

# Question-6(a)

In [184]:
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [185]:
def Top_Womens_Team(url):
    page = requests.get(url)

In [187]:
table = soup.find("table",class_="table rankings-table")
table = soup.find("tbody")
team_name = table.find_all("span",class_="u-hide-phablet")[0:10]

In [188]:
teams = []
for i in team_name:
    teams.append(i.text)

In [189]:
match = table.find("td",class_="rankings-block__banner--matches").text
point = table.find("td",class_="rankings-block__banner--points").text
matches = table.find_all("td",class_="table-body__cell u-center-text")

In [190]:
matches_ = [match,point]
for i in matches:
    matches_.append(i.text)

In [191]:
m_record = matches_[0:20:2]
m_points = matches_[1:20:2]
f_rating = table.find("td",class_="rankings-block__banner--rating u-text-right").text.replace('\n','')
ratings = table.find_all("td",class_="table-body__cell u-text-right rating")
rating = [f_rating]
for i in ratings:
    rating.append(i.text)

In [192]:
data = list(zip(teams,m_record,m_points,rating))
df = pd.DataFrame(data,columns = ["Team Name","Matches","Points","Ratings"])
df

,Team Name,Matches,Points,Ratings
0,New Zealand,12,"1,505",125 ...
1,England,22,"2,756",125
2,Pakistan,19,"2,005",106
3,India,22,"2,304",105
4,Australia,23,"2,325",101
5,South Africa,19,"1,872",99
6,Bangladesh,24,"2,275",95
7,Sri Lanka,29,"2,658",92
8,West Indies,32,"2,306",72
9,Afghanistan,18,"1,238",69

# Question-6(b)

In [193]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"

In [202]:
page = requests.get(url)

In [203]:
soup = BeautifulSoup(page.text,"html.parser")

In [204]:
table = soup.find("table",class_="table rankings-table")

In [205]:
first_player = table.find("div",class_="rankings-block__banner--name-large").text
first_team = table.find("div",class_="rankings-block__banner--nationality").text.replace('\n','')
first_rating= table.find("div",class_="rankings-block__banner--rating").text

In [207]:
w_players = table.find_all("td",class_="table-body__cell rankings-table__name name")[0:9]
w_player = [first_player]
for i in w_players:
    w_player.append(i.text.replace('\n',''))

In [208]:
w_teams = table.find_all("span",class_="table-body__logo-text")[0:9]
w_team = [first_team]
for i in w_teams:
    w_team.append(i.text)

In [209]:
w_ratings = table.find_all("td",class_="table-body__cell rating")[0:9]
w_rating = [first_rating]
for i in w_ratings:
    w_rating.append(i.text)

In [210]:
data = list(zip(w_player,w_team,w_rating))
df = pd.DataFrame(data, columns = ["Bowler Name","Team","Rating"])
df

         Bowler Name Team Rating
0       Alyssa Healy  AUS    785
1     Natalie Sciver  ENG    750
2        Beth Mooney  AUS    748
3    Laura Wolvaardt   SA    713
4        Meg Lanning  AUS    710
5     Rachael Haynes  AUS    701
6  Amy Satterthwaite   NZ    681
7    Smriti Mandhana  IND    669
8     Tammy Beaumont  ENG    659
9       Ellyse Perry  AUS    642

# Question6-(c)

In [212]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
page = requests.get(url)

In [213]:
 a_table = soup.find("table",class_="table rankings-table")

In [215]:
f_allrounder = a_table.find("div",class_="rankings-block__banner--name-large").text
a_team = a_table.find("div",class_="rankings-block__banner--nationality").text.replace('\n','')
a_rating = a_table.find("div",class_="rankings-block__banner--rating").text
allrounders = a_table.find_all("td",class_="table-body__cell rankings-table__name name")[0:9]
allrounder = [f_allrounder]
for i in allrounders:
    allrounder.append(i.text.replace('\n',''))

In [218]:
all_teams = a_table.find_all("span",class_="table-body__logo-text")[0:9]
all_team = [a_team]
for i in all_teams:
    all_team.append(i.text)

In [219]:
all_ratings = a_table.find_all("td",class_="table-body__cell rating")[0:9]
all_rating = [a_rating]
for i in all_ratings:
    all_rating.append(i.text)

In [220]:
data = list(zip(allrounder,all_team,all_rating))
df = pd.DataFrame(data, columns = ["Allrounder Name","Team","Rating"])
df

     Allrounder Name Team Rating
0       Alyssa Healy  AUS    785
1     Natalie Sciver  ENG    750
2        Beth Mooney  AUS    748
3    Laura Wolvaardt   SA    713
4        Meg Lanning  AUS    710
5     Rachael Haynes  AUS    701
6  Amy Satterthwaite   NZ    681
7    Smriti Mandhana  IND    669
8     Tammy Beaumont  ENG    659
9       Ellyse Perry  AUS    642

# Question-7

In [259]:
import  requests
from  bs4 import BeautifulSoup

In [265]:
url = "https://www.cnbc.com/world/?region=world"

In [266]:
def Top_Mens_Teams(url):
    page = requests.get(url)

In [267]:
page = requests.get(url)

In [270]:
news_headline = []
for i in soup.find_all("a", class_='LatestNews-headline'):
    news_headline.append(i.text)
news_headline

[]

In [271]:
news_time = []
for i in soup.find_all("span",class_="LatestNews-wrapper"):
    news_time.append(i.text)
news_time

[]

In [272]:
news_link = []
for i in soup.find_all("a", class_='LatestNews-headline'):
    news_link.append(i.get('href'))
news_link

[]

# Question-8

In [233]:
url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

In [234]:
def Top_Mens_Teams(url):
    page = requests.get(url)

In [235]:
page = requests.get(url)

In [236]:
soup = BeautifulSoup(page.text,"html.parser")

In [237]:
title = []
for i in soup.find_all('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    title.append(i.text)
title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social humanârobot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "âThat's (not) the output I expected!â On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving â On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [238]:
pub_date = []
for i in soup.find_all('span', class_="sc-1thf9ly-2 bKddwo"):
    pub_date.append(i.text)
pub_date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

# Question-9

In [246]:
url = "https://www.dineout.co.in/delhi-restaurants/buffet-special"

In [247]:
page = requests.get(url)
soup = BeautifulSoup(page.text,"html.parser")
titles = [] 
for i in soup.find_all("div", class_="restnt-info cursor"):
    x = i.find('a').text
    titles.append(x)
titles

['Castle Barbeque',
 'Jungle Jamboree',
 'Castle Barbeque',
 'Cafe Knosh',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'World Cafe',
 'Indian Grill Room',
 'Mad 4 Bar B Que',
 'Barbeque 29',
 'Glasshouse']

In [248]:
loc = []
for i in soup.find_all("div", class_="restnt-loc ellipsis"):
    loc.append(i.text)
loc

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [249]:
rating = []
for i in soup.find_all('div', class_="restnt-rating rating-4"):
    rating.append(i.text)
rating

['3.5',
 '3.9',
 '3.9',
 '4.3',
 '4',
 '3.9',
 '3.7',
 '3.8',
 '4.3',
 '4.3',
 '3.6',
 '4.2',
 '4']

In [250]:
image = []
for i in soup.find_all('img',class_="no-img"):
    image.append(i['data-src'])
image

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/h/c/p3643-144497865356209fdd65746.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/n/t/p43488-1647323111623027e763947.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/a/p9875-1645177960620f6c68ecfef.jpg?tr=tr:n-medium']

# Question-10

In [252]:
url = ('https://scholar.google.com/citations?view_op=top_venues&hl=en')

In [253]:
page = requests.get(url)
soup = BeautifulSoup(page.text,"html.parser")
rank = []
for i in soup.find_all('td', class_="gsc_mvt_p"):
    rank.append(i.text)
rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.',
 '31.',
 '32.',
 '33.',
 '34.',
 '35.',
 '36.',
 '37.',
 '38.',
 '39.',
 '40.',
 '41.',
 '42.',
 '43.',
 '44.',
 '45.',
 '46.',
 '47.',
 '48.',
 '49.',
 '50.',
 '51.',
 '52.',
 '53.',
 '54.',
 '55.',
 '56.',
 '57.',
 '58.',
 '59.',
 '60.',
 '61.',
 '62.',
 '63.',
 '64.',
 '65.',
 '66.',
 '67.',
 '68.',
 '69.',
 '70.',
 '71.',
 '72.',
 '73.',
 '74.',
 '75.',
 '76.',
 '77.',
 '78.',
 '79.',
 '80.',
 '81.',
 '82.',
 '83.',
 '84.',
 '85.',
 '86.',
 '87.',
 '88.',
 '89.',
 '90.',
 '91.',
 '92.',
 '93.',
 '94.',
 '95.',
 '96.',
 '97.',
 '98.',
 '99.',
 '100.']

In [254]:
publication = []
for i in soup.find_all('td',class_="gsc_mvt_t"):
    publication.append(i.text)
publication

['Nature',
 'The New England Journal of Medicine',
 'Science',
 'IEEE/CVF Conference on Computer Vision and Pattern Recognition',
 'The Lancet',
 'Advanced Materials',
 'Cell',
 'Nature Communications',
 'Chemical Reviews',
 'International Conference on Learning Representations',
 'JAMA',
 'Neural Information Processing Systems',
 'Proceedings of the National Academy of Sciences',
 'Journal of the American Chemical Society',
 'Angewandte Chemie',
 'Chemical Society Reviews',
 'Nucleic Acids Research',
 'Renewable and Sustainable Energy Reviews',
 'Journal of Clinical Oncology',
 'Physical Review Letters',
 'Advanced Energy Materials',
 'Nature Medicine',
 'International Conference on Machine Learning',
 'Energy & Environmental Science',
 'ACS Nano',
 'Scientific Reports',
 'European Conference on Computer Vision',
 'The Lancet Oncology',
 'Advanced Functional Materials',
 'PLoS ONE',
 'IEEE/CVF International Conference on Computer Vision',
 'Nature Genetics',
 'Journal of Cleaner Production',
 'Nature Materials',
 'Science of The Total Environment',
 'Circulation',
 'BMJ',
 'Journal of the American College of Cardiology',
 'Applied Catalysis B: Environmental',
 'Science Advances',
 'Nano Letters',
 'Nature Energy',
 'ACS Applied Materials & Interfaces',
 'Journal of Materials Chemistry A',
 'IEEE Access',
 'Nature Biotechnology',
 'Nano Energy',
 'Nature Methods',
 'Nature Nanotechnology',
 'Cochrane Database of Systematic Reviews',
 'The Astrophysical Journal',
 'The Lancet Infectious Diseases',
 'Applied Energy',
 'European Heart Journal',
 'Blood',
 'American Economic Review',
 'Immunity',
 'Meeting of the Association for Computational Linguistics (ACL)',
 'AAAI Conference on Artificial Intelligence',
 'Gastroenterology',
 'Neuron',
 'Journal of High Energy Physics',
 'IEEE Communications Surveys & Tutorials',
 'Nature Neuroscience',
 'Computers in Human Behavior',
 'Chemical engineering journal',
 'ACS Catalysis',
 'Nature Reviews. Molecular Cell Biology',
 'International Journal of Molecular Sciences',
 'IEEE Transactions on Pattern Analysis and Machine Intelligence',
 'Environmental Science & Technology',
 'Monthly Notices of the Royal Astronomical Society',
 'Cell Metabolism',
 'Nature Physics',
 'Physical Review D',
 'Accounts of Chemical Research',
 'Nature Photonics',
 'Nature Climate Change',
 'Chemistry of Materials',
 'Molecular Cell',
 'Clinical Infectious Diseases',
 'Morbidity and Mortality Weekly Report',
 'Nature Reviews Immunology',
 'Gut',
 'Annals of Oncology',
 'Cell Reports',
 'Journal of Business Research',
 'Clinical Cancer Research',
 'Frontiers in Microbiology',
 'Journal of Hepatology',
 'eLife',
 'Bioinformatics',
 'The Journal of Clinical Investigation',
 'Science Translational Medicine',
 'Water Research',
 'Frontiers in Immunology',
 'Small',
 'Nature Immunology',
 'JAMA Oncology',
 'The Lancet Neurology']

In [255]:
h5_index = [] 

for i in soup.find_all("td",class_="gsc_mvt_n"):
    x = i.find(class_="gs_ibl gsc_mp_anchor")
    h5_index.append(x.text)
    
res = h5_index[::2]

h5_index = res

h5_index

['414',
 '410',
 '391',
 '356',
 '345',
 '294',
 '288',
 '287',
 '270',
 '253',
 '253',
 '245',
 '245',
 '245',
 '235',
 '234',
 '233',
 '225',
 '213',
 '209',
 '206',
 '205',
 '204',
 '202',
 '202',
 '200',
 '197',
 '196',
 '189',
 '185',
 '184',
 '184',
 '182',
 '181',
 '180',
 '176',
 '175',
 '175',
 '175',
 '174',
 '173',
 '171',
 '169',
 '166',
 '164',
 '163',
 '162',
 '161',
 '161',
 '161',
 '161',
 '160',
 '160',
 '159',
 '159',
 '158',
 '158',
 '157',
 '157',
 '157',
 '157',
 '157',
 '156',
 '156',
 '155',
 '154',
 '153',
 '150',
 '150',
 '149',
 '149',
 '149',
 '148',
 '147',
 '147',
 '146',
 '144',
 '144',
 '144',
 '143',
 '142',
 '141',
 '141',
 '141',
 '141',
 '141',
 '140',
 '140',
 '139',
 '138',
 '137',
 '136',
 '135',
 '134',
 '134',
 '134',
 '134',
 '133',
 '133',
 '133']

In [256]:
h5_median = []
for i in soup.find_all('span', class_="gs_ibl gsc_mp_anchor"):
    h5_median.append(i.text)
h5_median

['607',
 '704',
 '564',
 '583',
 '600',
 '406',
 '459',
 '389',
 '434',
 '470',
 '446',
 '422',
 '337',
 '330',
 '314',
 '339',
 '512',
 '294',
 '297',
 '297',
 '267',
 '356',
 '370',
 '306',
 '265',
 '262',
 '342',
 '318',
 '250',
 '246',
 '311',
 '273',
 '245',
 '313',
 '244',
 '284',
 '286',
 '255',
 '218',
 '250',
 '234',
 '306',
 '202',
 '205',
 '233',
 '276',
 '218',
 '265',
 '257',
 '244',
 '239',
 '244',
 '203',
 '252',
 '212',
 '246',
 '237',
 '265',
 '240',
 '229',
 '219',
 '217',
 '253',
 '235',
 '235',
 '193',
 '219',
 '284',
 '210',
 '275',
 '202',
 '190',
 '219',
 '210',
 '205',
 '222',
 '230',
 '222',
 '187',
 '198',
 '251',
 '274',
 '257',
 '211',
 '205',
 '183',
 '199',
 '187',
 '196',
 '226',
 '182',
 '218',
 '197',
 '192',
 '188',
 '177',
 '173',
 '210',
 '202',
 '200']

In [257]:
print(len(rank), len(publication), len(h5_index), len(h5_median))

100 100 100 100

In [258]:
df = pd.DataFrame({'Rank':rank, 'Publication':publication, 'h5-index':h5_index, 'h5-mean':h5_median})
df

    Rank                                        Publication h5-index h5-mean
0     1.                                             Nature      414     607
1     2.                The New England Journal of Medicine      410     704
2     3.                                            Science      391     564
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      356     583
4     5.                                         The Lancet      345     600
..   ...                                                ...      ...     ...
95   96.                            Frontiers in Immunology      134     177
96   97.                                              Small      134     173
97   98.                                  Nature Immunology      133     210
98   99.                                      JAMA Oncology      133     202
99  100.                               The Lancet Neurology      133     200

[100 rows x 4 columns]