# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

In [118]:
! pip install selenium

Requirement already satisfied: selenium in ./opt/anaconda3/lib/python3.9/site-packages (4.2.0)
Requirement already satisfied: trio~=0.17 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.10)
Requirement already satisfied: sniffio in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in ./opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (22.0.0)
Requirement already satisfied: cryptography>=1.3.4 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (37.0.4)
Requirement already satisfied: certifi in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (2022.6.15)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cffi>=1.12 in ./opt/anaconda3/lib/python3.9/site-packages (from cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (1.15.1)
Requirement already satisfied: pycparser in ./opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in ./opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [119]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [120]:
driver = webdriver.Chrome('/Users/aryanlohan/downloads/chromedriver')

In [121]:
driver.get('https://www.naukri.com')

In [122]:
from selenium .webdriver.common.by import By

In [123]:
search_jobs=driver.find_elements(By.CLASS_NAME,"suggestor-input")
search_jobs

[<selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="cb7a79c1-ef74-4d55-a863-f08b4b8e83e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="084522bd-c458-47f3-aef4-a3c79346e009")>]

In [124]:
search_loc = driver.find_element(By.XPATH,"/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_loc

In [125]:
job_titles = []
job_locations = []
company_names = []
experience_list = []

In [126]:
search_field_designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_field_designation.send_keys("Data Analyst")

In [127]:
search_field_location =driver.find_element(By.XPATH,"/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [128]:
search_button = driver.find_element(By.XPATH,"/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [129]:
titles_tag = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']") 
titles_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="72f14b03-c18a-42eb-8dc3-71a76fe79f0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="b727920e-5b90-4ebc-8717-55387b7cd04d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="831a2f9a-ad33-4fb2-a9d5-3912e3bdc55f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="0b7e51a3-8517-43a5-b902-0b2b492d28e0")>]

In [130]:
for i in titles_tag:
    title = i.text 
    job_titles.append(title)
job_titles[0:4]

['Data Analyst I',
 'Data Science / Data Engineer / Business Analyst / Full Stack Developer',
 'Sr.Business Data Analyst',
 'Sr Data Analyst']

In [131]:
companies_tag = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']") 
companies_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="41e1d986-f78a-4882-b431-849f92faf346")>,
 <selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="bb69658b-ff34-4a83-b1eb-a90270abc2ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="3f4ae9cf-090f-4428-b8ff-e31a8de6c150")>,
 <selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="d0c14414-0c22-43c5-9db6-4ea1e299ec2f")>]

In [132]:
for i in companies_tag:
    company_name = i.text 
    company_names.append(company_name)
company_names[0:4]

['Cerner',
 'NETWORTH DATA PRODUCTS PRIVATE LIMITED',
 'Collabera',
 'Thomson Reuters']

In [133]:
experience_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="fed86cdb-b8c9-4c91-bc6e-e38793230fc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="4f33039a-dc87-4d03-be79-33098ace3891")>,
 <selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="bb2f55d3-d7ea-4a11-9323-48cd36dddde9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="c758cd87-e3f1-444d-b394-d764cd468e0e")>]

In [134]:
for i in experience_tag:
    experience = i.text 
    experience_list.append(experience)
experience_list[0:4]

['5-10 Yrs', '0-3 Yrs', '6-11 Yrs', '5-8 Yrs']

In [135]:
location_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="5be6184f-c9fc-46c9-a87f-e6ecf4fee159")>,
 <selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="cfb44727-162a-4566-a223-6f8b1489d5f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="615fa887-f1c9-4ecb-b930-8bf52b4860b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="54fcfbc6c7c36729ec644473bc5bb2d0", element="b69fd213-82fc-4d99-aa36-d1992a4ad8b5")>]

In [136]:
for i in location_tag:
    location = i.text 
    job_locations.append(location)
job_locations[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, karnataka',
 'Bangalore/Bengaluru']

In [137]:
print(len(job_titles), len(company_names), len(experience_list), len(job_locations))

20 20 20 20

In [138]:
jobs = pd.DataFrame({})
jobs['Job Title'] = job_titles[:10:]
jobs['Company'] = company_names[:10:]
jobs['Experience Reqd '] = experience_list[:10:]
jobs['Job Location'] = job_locations[:10:]

jobs

,Job Title,Company,Experience Reqd,Job Location
0,Data Analyst I,Cerner,5-10 Yrs,Bangalore/Bengaluru
1,Data Science / Data Engineer / Business Analys...,NETWORTH DATA PRODUCTS PRIVATE LIMITED,0-3 Yrs,Bangalore/Bengaluru
2,Sr.Business Data Analyst,Collabera,6-11 Yrs,"Bangalore/Bengaluru, karnataka"
3,Sr Data Analyst,Thomson Reuters,5-8 Yrs,Bangalore/Bengaluru
4,Data Analyst / Business analyst - US MNC (anal...,Aspyra HR Services,2-7 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /..."
5,Junior Data Analyst,ICF Next,1-6 Yrs,"Bangalore/Bengaluru, New Delhi"
6,Senior Data Analysis Analyst,Capco,7-12 Yrs,"Bangalore/Bengaluru, Pune, Chennai"
7,Data Analyst,Everest Fleet Pvt. Ltd.,3-8 Yrs,"Bangalore/Bengaluru, Kolkata, Thane, Hyderabad..."
8,Data Analyst,Thomson Reuters,2-3 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst,Hudsons bay Company (HBC),3-4 Yrs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

In [139]:
! pip install selenium

Requirement already satisfied: selenium in ./opt/anaconda3/lib/python3.9/site-packages (4.2.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.10)
Requirement already satisfied: trio~=0.17 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in ./opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: certifi in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (2022.6.15)
Requirement already satisfied: cryptography>=1.3.4 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (37.0.4)
Requirement already satisfied: pyOpenSSL>=0.14 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (22.0.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cffi>=1.12 in ./opt/anaconda3/lib/python3.9/site-packages (from cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (1.15.1)
Requirement already satisfied: pycparser in ./opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in ./opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [140]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [141]:
driver = webdriver.Chrome('/Users/aryanlohan/downloads/chromedriver')

In [142]:
driver.get('https://www.naukri.com')

In [143]:
search_field_designation = driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")

In [144]:
search_field_location = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [145]:
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [146]:
job_titles = []
company_names = []
locations_list = []

In [147]:
titles_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") 
titles_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6cfe1919f4e5b5c4cd48deb9f01eb9c0", element="1b1a178a-332b-41cc-8b03-7ab14220a161")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6cfe1919f4e5b5c4cd48deb9f01eb9c0", element="730de169-b194-4d28-bd0a-3daa010ea4bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6cfe1919f4e5b5c4cd48deb9f01eb9c0", element="23c82f06-04ed-442e-9062-be78e4870cb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6cfe1919f4e5b5c4cd48deb9f01eb9c0", element="a7cf19ff-2671-4ba9-9704-3599081e7441")>]

In [148]:
for i in titles_tag:
    title = i.text 
    job_titles.append(title)
job_titles[0:4]

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Hiring For Senior Data Scientist',
 'Senior Data Scientist',
 'Dataiku Consultant']

In [149]:
companies_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']") 
companies_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6cfe1919f4e5b5c4cd48deb9f01eb9c0", element="69d79984-859e-456a-a81f-fc0ec3e02ce5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6cfe1919f4e5b5c4cd48deb9f01eb9c0", element="818d9172-5bd0-4c1c-8451-07402fb173e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6cfe1919f4e5b5c4cd48deb9f01eb9c0", element="d3b4f604-c808-46ba-bb7d-9a4ef0c03c6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6cfe1919f4e5b5c4cd48deb9f01eb9c0", element="426b76cc-3f61-4841-adc3-f88f258faf0e")>]

In [150]:
for i in companies_tag:
    company_name = i.text
    company_names.append(company_name)
company_names[0:4]

['Wipro', 'TATA CONSULTANCY SERVICES (TCS)', 'Spiceworks', 'Wipro']

In [151]:
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]") 
location_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6cfe1919f4e5b5c4cd48deb9f01eb9c0", element="e4152897-8c50-4efa-bc20-b734189e0e97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6cfe1919f4e5b5c4cd48deb9f01eb9c0", element="f1eea2e5-c1b1-4eae-8a4a-9c05cd233eb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6cfe1919f4e5b5c4cd48deb9f01eb9c0", element="36327f3d-f9f4-4cbb-a5b5-c197828a5598")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6cfe1919f4e5b5c4cd48deb9f01eb9c0", element="8945617a-7365-4eb1-b25f-a8345de04715")>]

In [152]:
for i in location_tag:
    location = i.text 
    locations_list.append(location)
locations_list[0:4]

['Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, REMOTE',
 'Bangalore/Bengaluru, Pune, Chennai']

In [153]:
print(len(job_titles), len(company_names), len(locations_list))

20 20 20

In [154]:
jobs = pd.DataFrame({})
jobs['Job Title'] = job_titles[:10:]
jobs['Company'] = company_names[:10:]
jobs['Job Location'] = locations_list[:10:]

jobs

,Job Title,Company,Job Location
0,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
1,Hiring For Senior Data Scientist,TATA CONSULTANCY SERVICES (TCS),"Bangalore/Bengaluru, Pune"
2,Senior Data Scientist,Spiceworks,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
3,Dataiku Consultant,Wipro,"Bangalore/Bengaluru, Pune, Chennai"
4,Research and Development -AI/ML -(PhD ),EXL,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
5,Opportunity For Data Scientist - Female Candid...,PayU,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
6,Senior Data Science Engineer,Fractal Analytics,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
7,Data Science - Engineering Manager,Paytm,"Bangalore/Bengaluru, Noida, Mumbai"
8,Data Scientist,Applied Materials,Bangalore/Bengaluru
9,Data & Analytics Tech - Informatica Cloud- Sen...,PwC,Bangalore/Bengaluru

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [155]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [156]:
driver = webdriver.Chrome('/Users/aryanlohan/downloads/chromedriver')

In [157]:
driver.get('https://www.naukri.com')

In [158]:
search_field_designation = driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")

In [159]:
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [175]:
salary_checkbox = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
salary_checkbox.click()

In [176]:
job_titles = []
company_names = []
locations_list = []
experience_list = []

In [177]:
titles_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") 
titles_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="d25687c5-5bc1-46dc-a017-7f64efa06690")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="d991b22e-2887-4a1c-9cc2-e39b69b011b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="a2709607-648c-4e31-bb2e-9ad71fc7cbf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="1625d96d-8766-4ccc-aa96-a2fb9f743329")>]

In [178]:
for i in titles_tag:
    title = i.text 
    job_titles.append(title)
job_titles[0:4]

['DigitalBCG GAMMA Data Scientist',
 'Data Scientist - IN3',
 'Artificial Intelligence, Virtual Reality Developer - L1',
 'Data Scientist - Noida/Bangalore']

In [179]:
companies_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']") 
companies_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="f3e00d92-2ace-4390-ada9-514d3c6036a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="46cf40b9-b3bb-4232-bedb-22067025ff6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="2abf5ebf-d2ea-4609-9166-09b1f5f9d45e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="fe477c1c-e59a-4432-8447-d7d07bf77615")>]

In [180]:
for i in companies_tag:
    company_name = i.text
    company_names.append(company_name)
company_names[0:4]

['Boston Consulting Group', 'Walmart', 'ATG Business Solutions', 'EXL']

In [181]:
experience_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span") 
experience_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="ae24fd0d-c937-4396-8ce2-0139e31255a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="db4c9c8b-4428-447d-aa48-27d9da00860c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="2c60765c-7d65-46a2-99ed-6ce603411174")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="8d892cd6-b78a-48a4-a55b-4348314a1588")>]

In [182]:
for i in experience_tag:
    experience = i.text 
    experience_list.append(experience)
experience_list[0:4]

['2-5 Yrs', '2-5 Yrs', '1-5 Yrs', '5-10 Yrs']

In [183]:
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="d337dd58-952a-4038-9d8a-352dc941d70b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="bf716f29-0b8b-47e2-b42e-d173908b4099")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="59949992-ee58-419f-99f2-4f1b928836c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bed7483dbef5245c1e44eb76185517e4", element="a686af8c-ecf2-48a0-b3aa-c353861d2a64")>]

In [184]:
for i in location_tag:
    location = i.text 
    locations_list.append(location)
locations_list[0:4]

['New Delhi, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru']

In [185]:
jobs = pd.DataFrame({})
jobs['Job Title'] = job_titles[:10:]
jobs['Company'] = company_names[:10:]
jobs['Experience Reqd '] = experience_list[:10:]
jobs['Job Location'] = locations_list[:10:]

jobs

,Job Title,Company,Experience Reqd,Job Location
0,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
1,Data Scientist - IN3,Walmart,2-5 Yrs,Bangalore/Bengaluru
2,"Artificial Intelligence, Virtual Reality Devel...",ATG Business Solutions,1-5 Yrs,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng..."
3,Data Scientist - Noida/Bangalore,EXL,5-10 Yrs,"Noida, Bangalore/Bengaluru"
4,Data Scientist,Applied Materials,2-4 Yrs,Bangalore/Bengaluru
5,Data Scientist,Applied Materials,4-7 Yrs,Bangalore/Bengaluru
6,DATA Scientist with Fraud Analytics Experience,Concentrix,2-4 Yrs,Bangalore/Bengaluru
7,Data Scientist,Infosys,2-7 Yrs,Bangalore/Bengaluru
8,Machine Learning Engineer,FACTSET SYSTEMS INDIA PVT LTD,2-5 Yrs,Hyderabad/Secunderabad
9,Senior Associate - Data Science,Black Turtle,4-7 Yrs,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr..."

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [186]:
! pip install selenium

Requirement already satisfied: selenium in ./opt/anaconda3/lib/python3.9/site-packages (4.2.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.10)
Requirement already satisfied: trio~=0.17 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in ./opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (22.0.0)
Requirement already satisfied: cryptography>=1.3.4 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (37.0.4)
Requirement already satisfied: certifi in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (2022.6.15)
Requirement already satisfied: cffi>=1.12 in ./opt/anaconda3/lib/python3.9/site-packages (from cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (1.15.1)
Requirement already satisfied: pycparser in ./opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in ./opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [187]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [188]:
driver = webdriver.Chrome('/Users/aryanlohan/downloads/chromedriver')

In [189]:
driver.get('https://www.flipkart.com')

In [190]:
try:
    button = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    button.click()
except:
    pass

In [191]:
search_sunglass = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_sunglass.send_keys("Sunglasses")
search_sunglass.send_keys(u'\ue007')

In [192]:
desc1 = []
for counter in range(0,4):
    description = driver.find_elements_by_xpath("//div[@class='_2B099V']")
    for i in description:
        desc1.append(i.text.split('\n'))
    time.sleep(10)
    next_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(15)
    counter=counter+1
print(len(desc1))

120

In [193]:
brand = [i[0] for i in desc1]

In [194]:
description = [i[1] for i in desc1]

In [195]:
price = [i[2] for i in desc1]

In [197]:
prod_price = [i.split('₹', 2)[1] for i in price]
discount = [i[-7:] for i in price]

In [198]:
print(len(brand), len(description), len(prod_price), len(discount))

120 120 120 120

In [199]:
Flipkart = pd.DataFrame()
Flipkart['Brand'] = brand[:100]
Flipkart['Description'] = description[:100]
Flipkart['Price'] = prod_price[:100]
Flipkart['Discount'] = discount[:100]
Flipkart

,Brand,Description,Price,Discount
0,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",379,81% off
1,DEIXELS,UV Protection Aviator Sunglasses (Free Size),224,81% off
2,HAMIW COLLECTION,UV Protection Round Sunglasses (53),199,87% off
3,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",213,82% off
4,Fastrack,UV Protection Shield Sunglasses (Free Size),809,10% off
...,...,...,...,...
95,ROYAL SON,"UV Protection Round, Oval, Cat-eye Sunglasses ...",699,53% off
96,Ray-Ban,UV Protection Shield Sunglasses (51),"10,390","₹10,390"
97,Urbanic,Others Retro Square Sunglasses (Free Size),489,45% off
98,PIRASO,UV Protection Over-sized Sunglasses (60),199,87% off
99,HAMIW COLLECTION,"UV Protection Wayfarer, Sports, Shield, Rectan...",149,88% off

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers”

In [262]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [263]:
driver = webdriver.Chrome('/Users/aryanlohan/downloads/chromedriver')

In [264]:
driver.get('https://www.flipkart.com')

In [265]:
try:
    button = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    button.click()
except:
    pass
search_sneakers = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_sneakers.send_keys("Sneakers")
search_sneakers.send_keys(u'\ue007')

In [266]:
desc1 = []
for counter in range(0,4):
    description = driver.find_elements_by_xpath("//div[@class='_2B099V']")
    for i in description:
        desc1.append(i.text.split('\n'))
    #browser.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(10)
    next_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(15)
    counter=counter+1
print(len(desc1))

120

In [267]:
desc1

[['Skechers',
  'TRACK Sneakers For Men',
  '₹2,826₹4,79941% off',
  'Free delivery',
  'Deal of the Day'],
 ['PUMA',
  'x 1DER Rock V2 Sneakers For Men',
  '₹1,799₹4,49960% off',
  'Free delivery',
  'Lowest price since launch'],
 ['WHITE WALKERS',
  'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
  '₹509₹1,19957% off',
  'Free delivery'],
 ['HOCKWOOD', 'Sneakers Sneakers For Men', '₹699₹99930% off', 'Free delivery'],
 ['PUMA',
  'one8 V2 Sneakers For Men',
  '₹2,078₹3,29937% off',
  'Free delivery',
  'EOSS'],
 ['BRUTON',
  'Modern Trendy Sneakers Shoes Sneakers For Men',
  '₹599₹1,29953% off',
  'Free delivery',
  'Deal of the Day'],
 ['VENDOZ',
  'Girls Stylish Casual Sports Shoe Sneakers For Women',
  '₹499₹99950% off',
  'Free delivery'],
 ['RED TAPE', 'Sneakers For Men', '₹818₹4,09580% off', 'Free delivery'],
 ['TR', 'Casual White Sneakers For Men', '₹399₹1,49973% off', 'Free delivery'],
 ['Z Blue',
  'YZY FOAM FIRE RUNNER HIGH PREMIUM QUALITY Sneakers For ...',
  '₹1,399₹3,99965% off',
  'Free delivery'],
 ['SEGA', 'Sneakers For Men', '₹611₹94935% off', 'Free delivery'],
 ['Strollin',
  'Sneakers For Men',
  '₹439₹1,99978% off',
  'Free delivery',
  'Deal of the Day'],
 ['PROVOGUE', 'Sneakers For Men', '₹759₹1,99962% off', 'Free delivery'],
 ['Kzaara',
  'Kzaara Sneakers Casual Canvas shoes | Branded Stylish O...',
  '₹244₹99975% off',
  'Free delivery'],
 ['Stinson', 'Sneakers For Men', '₹249₹49950% off', 'Free delivery'],
 ['Bonexy',
  'Sneakers For Men',
  '₹569₹1,49962% off',
  'Free delivery',
  'Deal of the Day'],
 ['T-ROCK',
  'Stylish White Casual Sneakers shoes Men and Boys Sneake...',
  '₹399₹99960% off',
  'Free delivery',
  'Deal of the Day'],
 ['PUMA',
  'Blend Sneakers For Men',
  '₹1,047₹2,99965% off',
  'Free delivery',
  'Lowest price since launch'],
 ['Shozie',
  'Stylish Walking Partywear Sneakers Casual Shoes Sneaker...',
  '₹594₹99940% off',
  'Free delivery'],
 ['VENDOZ', 'Stylish Sneakers For Women', '₹498₹99950% off', 'Free delivery'],
 ['SEGA', 'Sneakers For Men', '₹599₹99940% off', 'Free delivery'],
 ['RapidBox', 'Sneakers For Men', '₹650₹99934% off', 'Free delivery'],
 ['PUMA',
  'Skye Wedge Sneakers For Women',
  '₹2,280₹5,99961% off',
  'Free delivery',
  'EOSS'],
 ['Strollin',
  'Sneakers For Men',
  '₹474₹99952% off',
  'Free delivery',
  'Deal of the Day'],
 ['Kzaara', 'Sneakers For Men', '₹254₹99974% off', 'Free delivery'],
 ['PUMA',
  'R78 Sneakers For Men',
  '₹2,339₹3,99941% off',
  'Free delivery',
  'Deal of the Day'],
 ['WHITE WALKERS',
  'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
  '₹509₹1,19957% off',
  'Free delivery'],
 ['Strollin',
  'Sneakers For Men',
  '₹474₹1,99976% off',
  'Free delivery',
  'Deal of the Day'],
 ['Bata', 'Sneakers For Men', '₹679₹79915% off', 'Free delivery'],
 ['Strollin',
  'Sneakers For Men',
  '₹474₹1,99976% off',
  'Free delivery',
  'Deal of the Day'],
 ['PROVOGUE',
  'Sneakers For Men',
  '₹699₹1,79961% off',
  'Free delivery',
  'Buy 2 items, save extra 5%'],
 ['RED TAPE', 'Sneakers For Men', '₹1,078₹5,39580% off', 'Free delivery'],
 ['T-ROCK',
  'Stylish White Casual Walking Sneakers Shoes For Men and...',
  '₹498₹99950% off',
  'Free delivery'],
 ['ASIAN', 'Sneakers For Men', '₹1,159₹1,99942% off', 'Free delivery'],
 ['ROCKFIELD', 'Sneakers For Men', '₹299₹99970% off', 'Free delivery'],
 ['aadi', 'Mesh Sneakers For Men', '₹999₹1,99950% off', 'Free delivery'],
 ['T-ROCK',
  'Stylish Party Wear Casual Sneakers Shoes For Men Sneake...',
  '₹699₹99930% off',
  'Free delivery'],
 ['T-ROCK', 'Sneakers For Women', '₹403₹99959% off', 'Free delivery'],
 ['Chevit',
  "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
  '₹649₹1,09940% off',
  'Free delivery'],
 ['PUMA', 'R78 FUTR Sneakers For Men', '₹2,999₹5,99950% off', 'Free delivery'],
 ['Kirjak',
  '1502 sneakers for men Sneakers For Men',
  '₹490₹1,99975% off',
  'Free delivery'],
 ['Ophelia',
  'Casual partywear printed women walking shoes Sneakers F...',
  '₹298₹99970% off',
  'Free delivery'],
 ['Tying',
  '1044 Latest Collection Stylish Casual Loafer Sneakers S...',
  '₹299₹49940% off',
  'Free delivery'],
 ['Stinson',
  'Trendy comfertable Combo pack Of 2 Sneakers For Men',
  '₹489₹99951% off',
  'Free delivery'],
 ['PUMA',
  'MAPF1 Drift Cat Delta Sneakers For Men',
  '₹3,199₹7,99960% off',
  'Free delivery'],
 ['Skechers',
  'Go Walk Max-Centric Sneakers For Men',
  '₹3,020₹5,29943% off',
  'Free delivery',
  'EOSS'],
 ['Dizzler', 'Sneakers For Men', '₹435₹71939% off', 'Free delivery'],
 ['Roadster',
  'Sneakers For Men',
  '₹1,379₹4,29967% off',
  'Free delivery',
  'Deal of the Day'],
 ['BRUTON',
  'Modern Trendy Sneakers Shoes Sneakers For Men',
  '₹254₹1,29980% off',
  'Free delivery',
  'Deal of the Day'],
 ['RED TAPE', 'Sneakers For Women', '₹1,439₹4,79970% off', 'Free delivery'],
 ['RapidBox', 'Sneakers For Men', '₹680₹99931% off', 'Free delivery'],
 ['U.S. POLO ASSN.', 'Sneakers For Men', '₹4,299', 'Free delivery'],
 ['DUCATI',
  'Sneakers For Men',
  '₹1,209₹4,49973% off',
  'Free delivery',
  'Lowest price since launch'],
 ['KNIGHT WALKERS',
  'SS1100 Sneakers For Men',
  '₹664₹1,99966% off',
  'Free delivery',
  'Buy 2 items, save extra 5%'],
 ['Shoes Icon',
  'Stylish White Casual Sneakers | White Party Wear Sneake...',
  '₹479₹99952% off',
  'Free delivery'],
 ['RED TAPE', 'Sneakers For Men', '₹1,038₹5,19580% off', 'Free delivery'],
 ['Strollin',
  'Sneakers For Men',
  '₹469₹1,99976% off',
  'Free delivery',
  'Deal of the Day'],
 ['HimQuen',
  "Shoes For Women's/Ladies/Female/Girls Running Shoe's Fo...",
  '₹521₹99947% off',
  'Free delivery'],
 ['PUMA',
  'Pacer X Graphicster Sneakers For Men',
  '₹1,519₹3,99962% off',
  'Free delivery',
  'EOSS'],
 ['bluemaker',
  'casual for men (blue 06) Sneakers For Men',
  '₹599₹99940% off',
  'Free delivery'],
 ['BRUTON',
  'BRUTON Casual, Lace Up, Sneaker, canvas, Top rated, Lig...',
  '₹189₹1,29985% off',
  'Free delivery',
  'Deal of the Day'],
 ['Allen Solly',
  'Sneakers For Women',
  '₹1,349₹2,99955% off',
  'Free delivery',
  'EOSS'],
 ['WROGN',
  'Sneakers For Men',
  '₹1,139₹2,84960% off',
  'Free delivery',
  'Buy 1, Get 1 Free'],
 ['PUMA',
  'x KL Denver Sneakers For Men',
  '₹1,599₹3,99960% off',
  'Free delivery'],
 ['PUMA',
  'Focus one8 Sneakers For Men',
  '₹1,547₹4,29964% off',
  'Free delivery',
  'EOSS'],
 ['Stinson',
  'ultra light Comfertable Slip-On and lace-ups combo pack...',
  '₹629₹1,49757% off',
  'Free delivery'],
 ['DELMY',
  "Girl's Sneakers Solid/Printed Casual Shoe (Dancing, Run...",
  '₹616₹1,49958% off',
  'Free delivery'],
 ['PUMA',
  'Court Star Vulc FS Sneakers For Men',
  '₹2,809₹5,99953% off',
  'Free delivery',
  'Deal of the Day'],
 ['SPADE CLUB', 'Sneakers For Men', '₹698₹99930% off', 'Free delivery'],
 ['PUMA',
  'RS-Fast Limiter Sneakers For Men',
  '₹3,999₹9,99960% off',
  'Free delivery',
  'EOSS'],
 ['PUMA',
  'RS-Fast Sneakers For Women',
  '₹4,800₹9,99951% off',
  'Free delivery',
  'EOSS'],
 ['RED TAPE', 'Sneakers For Men', '₹1,074₹4,29975% off', 'Free delivery'],
 ['Scull Wings', 'Sneakers For Men', '₹449₹1,49970% off', 'Free delivery'],
 ['Aarron', 'Sneakers For Women', '₹479₹99952% off', 'Free delivery'],
 ['Locklet', 'Sneakers For Men', '₹624₹1,49958% off', 'Free delivery'],
 ['HOCKWOOD',
  'Street Smart Sneakers For Men',
  '₹749₹99925% off',
  'Free delivery'],
 ['PUMA',
  'BMW MMS Electron E Pro Sneakers For Men',
  '₹3,249₹6,49950% off',
  'Free delivery',
  'Deal of the Day'],
 ['VENDOZ', 'Sneakers For Women', '₹499₹99950% off', 'Free delivery'],
 ['DELMY',
  "Girl's Sneakers Solid/Printed Casual Shoe (Dancing, Run...",
  '₹474₹1,29963% off',
  'Free delivery'],
 ['CARRITO',
  "Carrito Casual shoes /sneakers/boots for women's/ Ladie...",
  '₹398₹99960% off',
  'Free delivery'],
 ['ASIAN',
  "Blade-13 Men's Sports Shoes,Running Shoes,Walking Shoes...",
  '₹698₹1,49953% off',
  'Free delivery'],
 ['AKIMBO',
  'A-SHOES-205 Sneakers For Men',
  '₹468₹99953% off',
  'Free delivery'],
 ['DUCATI',
  'Sneakers For Men',
  '₹1,119₹4,29973% off',
  'Free delivery',
  'Deal of the Day'],
 ['ROCKFIELD', 'Sneakers For Men', '₹449₹99955% off', 'Free delivery'],
 ['CALCADOS', 'Sneakers For Men', '₹248₹49950% off', 'Free delivery'],
 ['SOLE STITCH',
  'Heel Sneaks Sneakers For Women',
  '₹599₹99940% off',
  'Free delivery'],
 ["LEVI'S", 'ADEN Sneakers For Men', '₹1,349₹2,99955% off', 'Free delivery'],
 ['CALCADOS',
  'ultra light Comfertable Slip-On and lace-ups combo pack...',
  '₹625₹1,49858% off',
  'Free delivery'],
 ['Extoes', 'Sneakers For Men', '₹218₹49956% off', 'Free delivery'],
 ['Edoeviv',
  'Sneakers For Men (White) Sneakers For Men',
  '₹474₹79940% off',
  'Free delivery'],
 ['BRUTON',
  'BRUTON Casual, Lace Up, Sneaker, canvas, Top rated, Lig...',
  '₹178₹1,29986% off',
  'Free delivery',
  'Deal of the Day'],
 ['bluemaker',
  'casual for men Sneakers For Men',
  '₹599₹99940% off',
  'Free delivery'],
 ['PUMA',
  'Caracal Style Sneakers For Women',
  '₹1,911₹4,49957% off',
  'Free delivery'],
 ['Myshtezia', 'Sneakers For Women', '₹499₹99950% off', 'Free delivery'],
 ['BRUTON',
  'Modern Trendy Sneakers Shoes Sneakers For Men',
  '₹299₹1,29976% off',
  'Free delivery',
  'Deal of the Day'],
 ['PUMA',
  'Smash v2 Sneakers For Men',
  '₹1,919₹3,99952% off',
  'Free delivery',
  'EOSS'],
 ['SPARX', 'SM-322 Sneakers For Men', '₹840₹99915% off', 'Free delivery'],
 ['TR', 'Sneakers For Men', '₹419₹1,49972% off', 'Free delivery'],
 ['Bretton',
  'Classy Stylish Ayasa Sneakers Sneakers For Men',
  '₹251₹99974% off',
  'Free delivery'],
 ['Chevit',
  'Modern Stylish Combo Pack of 3 Jogging, Walking, Gym Sh...',
  '₹799₹2,39766% off',
  'Free delivery'],
 ['PUMA',
  'Drift Cat 5 Core Sneaker For Men',
  '₹2,957₹5,99950% off',
  'Free delivery',
  'EOSS'],
 ['BELLA TOES',
  'Women Latest White Casual shoes Sneakers For Women',
  '₹629₹1,29951% off',
  'Free delivery'],
 ['Z Blue',
  'Led High Light Glowing with USB Cable+ charging color F...',
  '₹1,999₹4,99960% off',
  'Free delivery'],
 ['PUMA',
  'Puma Smash Vulc Sneakers For Men',
  '₹2,241₹3,79941% off',
  'Free delivery',
  'EOSS'],
 ['PUMA',
  'Glory Sneakers For Men',
  '₹1,292₹2,99956% off',
  'Free delivery',
  'EOSS'],
 ['asics',
  'fuzor B Sneakers For Men',
  '₹1,690₹3,79955% off',
  'Free delivery',
  'EOSS'],
 ['LE GREEM', 'Sneakers For Men', '₹499₹99950% off', 'Free delivery'],
 ['bacca bucci',
  'Mens Ultraforce Mid-top Athletic-Inspired Retro Fashion...',
  '₹1,199₹2,49952% off',
  'Free delivery'],
 ['PUMA',
  'Puma Smash Vulc Sneakers For Men',
  '₹2,393₹3,79937% off',
  'Free delivery',
  'EOSS'],
 ['OUTALYFE',
  'Stylish Party Wear Fashionable Lightweight New arrival ...',
  '₹448₹1,24964% off',
  'Free delivery',
  'Buy 2 items, save extra 5%'],
 ['Creer', 'Sneakers For Women', '₹498₹1,59968% off', 'Free delivery'],
 ['RICHTOE',
  'Sneakers For Women',
  '₹423₹99957% off',
  'Free delivery',
  'Lowest price in the year'],
 ['HOCKWOOD', 'Sneakers Sneakers For Men', '₹699₹99930% off', 'Free delivery'],
 ['SWIGGY',
  'Casual Shoes , Snekers Shoes,Lace-Up PVC Shoes For Men ...',
  '₹249₹49950% off',
  'Free delivery',
  'Buy 2 items, save extra 5%'],
 ['SPARX', 'SM-734 Sneakers For Men', '₹849', 'Free delivery'],
 ['HONEY',
  'Stylish Casual Sneakers | Party Wear Sneakers For Men',
  '₹439₹99956% off',
  'Free delivery'],
 ['PEXLO',
  'Combo Pack of 3 (Outdoors & Walking Shoes) Sneakers For...',
  '₹1,017₹2,39757% off',
  'Free delivery'],
 ['PUMA',
  'Puma Smash Vulc Sneakers For Men',
  '₹1,658₹3,79956% off',
  'Free delivery',
  'EOSS'],
 ['SPARX', 'SM-732 Sneakers For Men', '₹934₹1,09915% off', 'Free delivery'],
 ['STRANGER BROTHERS',
  'GREEN SNEAKERS CASUAL SHOES CANVAS SHOES FOR MEN GREEN ...',
  '₹599₹1,49960% off',
  'Free delivery']]

In [268]:
brand = [i[0] for i in desc1]
description = [i[1] for i in desc1]
price = [i[2] for i in desc1]
prod_price = [i.split('₹', 2)[1] for i in price]

In [269]:
print(len(brand), len(description), len(prod_price))

120 120 120

In [270]:
Flipkart = pd.DataFrame()
Flipkart['Brand'] = brand[:100]
Flipkart['Description'] = description[:100]
Flipkart['Price'] = prod_price[:100]
Flipkart

            Brand                                        Description  Price
0        Skechers                             TRACK Sneakers For Men  2,826
1            PUMA                    x 1DER Rock V2 Sneakers For Men  1,799
2   WHITE WALKERS  Stylish & Trending Outdoor Walking Comfortable...    509
3        HOCKWOOD                          Sneakers Sneakers For Men    699
4            PUMA                           one8 V2 Sneakers For Men  2,078
..            ...                                                ...    ...
95           PUMA                          Smash v2 Sneakers For Men  1,919
96          SPARX                            SM-322 Sneakers For Men    840
97             TR                                   Sneakers For Men    419
98        Bretton     Classy Stylish Ayasa Sneakers Sneakers For Men    251
99         Chevit  Modern Stylish Combo Pack of 3 Jogging, Walkin...    799

[100 rows x 3 columns]

# Q7: Go to the link - https://www.myntra.com/shoes

In [271]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [276]:
driver = webdriver.Chrome('/Users/aryanlohan/downloads/chromedriver')
driver.get("https://www.myntra.com/shoes")

In [277]:
time.sleep(0)

In [279]:
price_selector = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_selector.click()

In [280]:
color_selector = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_selector.click()

In [281]:
desc1 = []
for counter in range(0,3):    
    time.sleep(5)
    if counter==0:
        time.sleep(45) 
    description = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']")
    for i in description:
        desc1.append(i.text.split('\n'))
        counter=counter+1
print(len(desc1))

150

In [282]:
brand = [i[0] for i in desc1]
description = [i[1] for i in desc1]
price = [i[2] for i in desc1]
prod_price = [i.split('Rs.', 2)[1] for i in price]

In [283]:
print(len(brand), len(description), len(prod_price))

150 150 150

In [284]:
Myntra = pd.DataFrame()
Myntra['Brand'] = brand[:100]
Myntra['Description'] = description[:100]
Myntra['Price'] = prod_price[:100]
Myntra

        Brand                     Description  Price
0      ADIDAS         Men Herlz Running Shoes   2199
1    Red Tape               Men Walking Shoes   1224
2        Puma          Men Enzo Running Shoes   2474
3    Red Tape               Men Walking Shoes   1349
4   TWIN TOES              Women Sports Shoes    895
..        ...                             ...    ...
95       Nike  Women CITYREP TR Training Shoe   3746
96      Sparx               Men Running Shoes   1022
97     Denill         Pointed Toe Block Pumps    539
98     Campus               Men Running Shoes   1449
99        max       Men Woven Design Sneakers    699

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/

In [446]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [447]:
from selenium .webdriver.common.by import By

In [448]:
driver = webdriver.Chrome('/Users/aryanlohan/downloads/chromedriver')
driver.get('https://www.amazon.in/')

In [449]:
search_field_designation = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_field_designation.send_keys("Laptop")

In [450]:
search_button = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [451]:
titles = []
ratings = []
price = []

In [452]:
titles_tag = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']") 
titles_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="e5f958d5883d5e0c137636dbf1d8aa21", element="cfe75d9c-c7ec-4ddb-bc57-a81e52db46ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5f958d5883d5e0c137636dbf1d8aa21", element="6feb3dca-8237-41aa-87ea-3dfc5ef958f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5f958d5883d5e0c137636dbf1d8aa21", element="4917b9e9-997e-40bc-8be7-27a30c627798")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5f958d5883d5e0c137636dbf1d8aa21", element="a7bebe8a-a578-4f81-81b5-b6fd05ed044f")>]

In [453]:
for i in titles_tag:
    title = i.text 
    titles.append(title)
titles[0:4]

['Hp 15S 11Th Gen Intel Core I5 15.6 Inches Fhd Anti-Glare Display Laptop (8Gb Ram/512Gb Ssd Micro-Edge/Iris Xe Graphics/Backlit Keyboard/Windows 11 Home/Alexa/Dual Speakers/Mso, 15S- Fq4021Tu, 1.69Kg)',
 'Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 15.6" (39.62cm) FHD Thin & Light Laptop (8GB/512GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Arctic Grey/1.65Kg), 82H802FJIN',
 'ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W',
 "Dell New Inspiron 3525 Laptop, AMD Athlon Silver 3050U, Windows 11 + Office'21, 8Gb Gddr4, 256Gb Ssd, Radeon Graphics, 15.6 Inches (39.62Cms) Hd Anti Glare (D560766Win9Be, 1.68Kgs)"]

In [454]:
price_tag = driver.find_elements_by_xpath("//span[@class='a-price']") 
price_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="e5f958d5883d5e0c137636dbf1d8aa21", element="08b06047-09f3-421b-9a08-6db165caa6d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5f958d5883d5e0c137636dbf1d8aa21", element="942e6062-7ed7-4f26-a16f-498cee3dbedb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5f958d5883d5e0c137636dbf1d8aa21", element="04808d3c-4ea5-44d7-b2f0-dafd1d5cd98d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5f958d5883d5e0c137636dbf1d8aa21", element="ae3e5b8e-4036-4fd6-aa10-aa53de44e221")>]

In [455]:
for i in price_tag:
    cost = i.text
    price.append(cost)
price[0:4]

['₹52,470', '₹37,990', '₹25,990', '₹31,500']

In [456]:
print(len(titles), len(price))

23 26

In [457]:
laptop = pd.DataFrame()
laptop['Title'] = titles[:10]
laptop['Price'] = price[:10]
laptop

                                               Title    Price
0  Hp 15S 11Th Gen Intel Core I5 15.6 Inches Fhd ...  ₹52,470
1  Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...  ₹37,990
2  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...  ₹25,990
3  Dell New Inspiron 3525 Laptop, AMD Athlon Silv...  ₹31,500
4  Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...  ₹28,980
5  HP Chromebook x360 Intel Celeron N4120 14 inch...  ₹25,490
6  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  ₹70,000
7  HP NB 255 G8 Laptop (AMD Ryzen 3-3250U/8GB DDR...  ₹68,000
8  Hp 15S 11Th Gen Intel Core I5 15.6 Inches Fhd ...
9  Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" ...  ₹23,606

# Q10: Write a python program to scrape the salary data for Data Scientist designation.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [464]:
driver = webdriver.Chrome('/Users/aryanlohan/downloads/chromedriver')
driver.get('https://www.ambitionbox.com/')

In [465]:
salaries = driver.find_element_by_xpath("//a[@class='link salaries']")
salaries.click()

In [466]:
designation = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
designation.send_keys("Data Scientist")

In [467]:
search_button = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/i[1]")
search_button.click()

In [468]:
result = driver.find_elements_by_xpath("//div[@class='result-row']")
results = []
for i in result:
    results.append(i.text.split('\n'))

In [469]:
company_name = [i[0] for i in results]

In [470]:
salary_record = [i[1] for i in results]

In [471]:
average_salary = [i[4] for i in results]

In [472]:
min_salary = [i[5] for i in results]

In [473]:
exp_reqd = [i[3] for i in results]

In [474]:
Ambition_Box = pd.DataFrame()
Ambition_Box['Company Name'] = company_name
Ambition_Box['Total Salary Record'] = salary_record
Ambition_Box['Average Salary'] = average_salary
Ambition_Box['Minimum Salary'] = min_salary
Ambition_Box['Experience Required'] = exp_reqd
Ambition_Box

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Experience Required
0,Google,Software Engineer Salary,₹ 11.0L,₹ 65.0L,₹ 31.3L
1,Microsoft Corporation,Software Engineer Salary,₹ 13.0L,₹ 50.0L,₹ 24.0L
2,Goldman Sachs,Software Engineer Salary,₹ 12.0L,₹ 34.0L,₹ 23.0L
3,Tekion,Software Engineer Salary,₹ 12.0L,₹ 33.0L,₹ 21.2L
4,Amazon,Software Engineer Salary,₹ 8.0L,₹ 45.0L,₹ 21.0L
5,Servicenow Software Development India,Software Engineer Salary,₹ 13.0L,₹ 28.0L,₹ 20.5L
6,Flipkart,Software Engineer Salary,₹ 7.5L,₹ 31.0L,₹ 20.4L
7,Walmart,Software Engineer Salary,₹ 11.4L,₹ 32.5L,₹ 20.0L
8,PayPal,Software Engineer Salary,₹ 11.0L,₹ 31.0L,₹ 19.9L
9,Myntra,Software Engineer Salary,₹ 14.0L,₹ 27.0L,₹ 19.5L

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location.

In [494]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [505]:
from selenium .webdriver.common.by import By

In [506]:
driver = webdriver.Chrome('/Users/aryanlohan/downloads/chromedriver')
driver.get('https://www.ambitionbox.com/')
time.sleep(5)

In [507]:
jobs = driver.find_element_by_xpath("//a[@class='link jobs']")
jobs.click()

In [508]:
designation = driver.find_element_by_xpath("//input[@class='input tt-input']")
designation.send_keys("Data Scientist")

In [509]:
search = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search.click()

In [510]:
location = driver.find_element_by_xpath("//div[@title='Location']")
location.click()

In [511]:
location_noida = driver.find_element_by_xpath("//input[@placeholder='Search locations']")
location_noida.send_keys("Noida")

In [512]:
label_noida = driver.find_element_by_xpath("//input[@id='location_Noida']")
label_noida.click()

In [513]:
more_jobs = driver.find_element_by_xpath("//button[@class='ab_btn load-more-btn invert']")
more_jobs.click()

In [514]:
company = driver.find_elements_by_xpath("//p[@class='company body-medium']")
company_name = []
for i in company:
    company_name.append(i.text)

In [515]:
company_name

['Optum Global Solutions (India) Private Limited',
 'GENPACT India Private Limited',
 'Latent bridge',
 'Dew Solutions Pvt. Ltd.',
 'InfoEdge India Ltd.',
 'Info Edge India Limited',
 'Info Edge India Limited',
 'Careerera',
 'CRMnext',
 'Careernet Consulting',
 'Acidaes Solutions Pvt. Ltd.',
 'Paytm',
 'Invedus Outsourcing Pvt. Ltd',
 'Invedus Outsourcing Pvt. Ltd',
 'Sampoorna Consultants Pvt. Ltd',
 'Paytm',
 'IndiaLends',
 'PayMe India',
 'Randstad',
 'IndiaLends']

In [516]:
other_info = driver.find_elements_by_xpath("//div[@class='other-info']")
info = []
for i in other_info:
    info.append(i.text.split('\n'))

In [517]:
days = [i[-1] for i in info]
days_ago = [i.split('·', 2)[0] for i in days]

In [518]:
rate = driver.find_elements_by_xpath("//div[@class='rating-wrapper']")

In [519]:
rating = []
for i in rate:
    rating.append(i.text.split('\n'))
rating[3:]

[['4.1', 'based on 1.9k Reviews'],
 ['4.1', '(1.9k Reviews)'],
 ['4.0', '(18k Reviews)'],
 ['4.5', '(54 Reviews)'],
 ['4.3', '(80 Reviews)'],
 ['3.9', '(1.7k Reviews)'],
 ['3.9', '(1.7k Reviews)'],
 ['3.9', '(1.7k Reviews)'],
 ['3.8', '(101 Reviews)'],
 ['4.1', '(74 Reviews)'],
 ['3.9', '(290 Reviews)'],
 ['3.7', '(104 Reviews)'],
 ['3.8', '(4.3k Reviews)'],
 ['5.0', '(5 Reviews)'],
 ['5.0', '(5 Reviews)'],
 ['4.5', '(20 Reviews)'],
 ['3.8', '(4.3k Reviews)'],
 ['3.8', '(91 Reviews)'],
 ['4.2', '(16 Reviews)'],
 ['4.1', '(1.9k Reviews)'],
 ['3.8', '(91 Reviews)']]

In [520]:
ratings = [i[0] for i in rating]
ratings = ratings[3:]

In [521]:
ambtionbox = pd.DataFrame()
ambtionbox['Company Name'] = company_name[:10]
ambtionbox['Days Ago'] = days_ago[:10]
ambtionbox['Ratings'] = ratings[:10]
ambtionbox

                                     Company Name  Days Ago Ratings
0  Optum Global Solutions (India) Private Limited   12d ago     4.1
1                   GENPACT India Private Limited   19d ago     4.1
2                                   Latent bridge    3d ago     4.0
3                         Dew Solutions Pvt. Ltd.   10d ago     4.5
4                             InfoEdge India Ltd.   17d ago     4.3
5                         Info Edge India Limited   18d ago     3.9
6                         Info Edge India Limited   18d ago     3.9
7                                       Careerera    5d ago     3.9
8                                         CRMnext   13d ago     3.8
9                            Careernet Consulting  1mon ago     4.1

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [522]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [523]:
from selenium .webdriver.common.by import By

In [524]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC")

In [525]:
review_button =driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span")
review_button.click()

In [526]:
time.sleep(5)

In [527]:
ratings=[]
review_summary=[]
full_review = []
for counter in range(0,11):
    rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating:
        ratings.append(i.text)
    summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in summary:
        review_summary.append(i.text)
    review = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in review:
        full_review.append(i.text.replace('\n','.'))
    time.sleep(5)
    next_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(15)
    counter=counter+1

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]"}
  (Session info: chrome=103.0.5060.114)
Stacktrace:
0   chromedriver                        0x000000010100c079 chromedriver + 4444281
1   chromedriver                        0x0000000100f98403 chromedriver + 3970051
2   chromedriver                        0x0000000100c33038 chromedriver + 409656
3   chromedriver                        0x0000000100c692fd chromedriver + 631549
4   chromedriver                        0x0000000100c69581 chromedriver + 632193
5   chromedriver                        0x0000000100c9b4f4 chromedriver + 836852
6   chromedriver                        0x0000000100c867bd chromedriver + 751549
7   chromedriver                        0x0000000100c99221 chromedriver + 827937
8   chromedriver                        0x0000000100c86683 chromedriver + 751235
9   chromedriver                        0x0000000100c5ca45 chromedriver + 580165
10  chromedriver                        0x0000000100c5da95 chromedriver + 584341
11  chromedriver                        0x0000000100fdd55d chromedriver + 4253021
12  chromedriver                        0x0000000100fe23a1 chromedriver + 4273057
13  chromedriver                        0x0000000100fe716f chromedriver + 4292975
14  chromedriver                        0x0000000100fe2dea chromedriver + 4275690
15  chromedriver                        0x0000000100fbc54f chromedriver + 4117839
16  chromedriver                        0x0000000100ffced8 chromedriver + 4382424
17  chromedriver                        0x0000000100ffd05f chromedriver + 4382815
18  chromedriver                        0x00000001010138d5 chromedriver + 4475093
19  libsystem_pthread.dylib             0x00007ff819d4c4e1 _pthread_start + 125
20  libsystem_pthread.dylib             0x00007ff819d47f6b thread_start + 15

In [528]:
print(len(ratings))
print(len(review_summary))
print(len(full_review))

58
58
58

In [529]:
iphone = pd.DataFrame()
iphone['Ratings'] = ratings[:100]
iphone['Review Summary'] = review_summary[:100]
iphone['Full Review'] = full_review[:100]
iphone

,Ratings,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
5,5,Fabulous!,This is my first iOS phone. I am very happy wi...
6,5,Great product,Amazing Powerful and Durable Gadget...I’m am v...
7,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
8,4,Good choice,So far it’s been an AMAZING experience coming ...
9,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
10,5,Simply awesome,Really satisfied with the Product I received.....
11,5,Perfect product!,Amazing phone with great cameras and better ba...
12,5,Best in the market!,Great iPhone very snappy experience as apple k...
13,5,Highly recommended,What a camera .....just awesome ..you can feel...
14,5,Worth every penny,Previously I was using one plus 3t it was a gr...
15,5,Fabulous!,This is my first iOS phone. I am very happy wi...
16,5,Great product,Amazing Powerful and Durable Gadget...I’m am v...
17,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
18,4,Good choice,So far it’s been an AMAZING experience coming ...
19,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
20,5,Highly recommended,It's my first time to use iOS phone and I am l...
21,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
22,5,Perfect product!,Value for money❤️❤️.Its awesome mobile phone i...
23,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
24,5,Perfect product!,It is just awesome mobile for this price from ...
25,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
26,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
27,5,Terrific,Really worth of money. i just love it. It is t...
28,5,Wonderful,This is my first ever I phone. Before this I w...
29,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
30,5,Excellent,A perfect phone and a good battery super camer...
31,5,Excellent,It was amazing experience for me. Honestly i a...
32,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
33,5,Excellent,Just go for it..This phone is really amazing. ...
34,5,Worth every penny,Here is the thing..The only reason why you sho...
35,5,Super!,This is my first ever iPhone..And I truly don’...
36,5,Wonderful,Nice value for money good and best price I pho...
37,5,Best in the market!,Don’t expect much from front camera… especiall...
38,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...
39,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
40,5,Excellent,A perfect phone and a good battery super camer...
41,5,Excellent,It was amazing experience for me. Honestly i a...
42,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
43,5,Excellent,Just go for it..This phone is really amazing. ...
44,5,Worth every penny,Here is the thing..The only reason why you sho...
45,5,Super!,This is my first ever iPhone..And I truly don’...
46,5,Wonderful,Nice value for money good and best price I pho...
47,5,Best in the market!,Don’t expect much from front camera… especiall...
48,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...
49,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
50,5,Great product,This iphone 11 by apple is simply amazing . Io...
51,5,excellent,"I liked it very much, super performance , givi..."
52,5,Fabulous!,This is my first I phone and I'm very happy to...
53,5,Best in the market!,Super cool 😍
54,5,Perfect product!,Excellent service by Flipkart. The phone is tr...
55,5,Perfect product!,A great device with a good battery backup that...
56,5,Super!,Good display in this phone however screen is L...
57,5,Terrific purchase,Value for money 😍